<%- include header %>
<ul style="list-style:none">
	<li><h3>開發者：<a href="https://www.facebook.com/tom.chang.3154">Tom</a></h3></li>
	<li><h3>開發者：<a href="https://github.com/trylovetom/MrGGBlog">Github</a></h3></li>
</ul>
<%- include footer %>